// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #219ebc;
$yellow: #FFC65A;
$orange: #f18940;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$black: #000000;

.orange {
  color: $orange;
}

.blue {
  color: $blue;
}

.black {
  color: $black;
}

.grey {
  color: $black;
  opacity: 40%
}
