<div class="header-coach navbar-expand-sm sticky-top">
  <div class="header-header">
    <!-- <%= Time.now.strftime("%H:%M")  %> -->
    <div class="container-logo">
      <div class="round-header">
        <div class="text-round-header">Coach <br> Léon</div>
      </div>
    </div>
    <!-- <div>
      <i class="fa-solid fa-signal"></i>
      <i class="fa-solid fa-wifi"></i>
      <i class="fa-solid fa-battery-full"></i>
    </div> -->
  </div>

  <div class="header-footer">
    <% if user_signed_in? && current_user.goal? %>
      <b><%= current_user.goal %></b>
    <% elsif user_signed_in? %>
      Réalise tes objectifs grâce au coach Léon
    <% else %>
      Réalise tes objectifs grâce au coach Léon
    <% end %>
  </div>
</div>
