<nav class="navbar fixed-bottom">
  <div class="container-fluid">
    <i class="fa-solid fa-house"></i>
    <i class="fa-solid fa-utensils"></i>
    <i class="fa-solid fa-person-running"></i>
    <i class="fa-solid fa-user"></i>
  </div>
</nav>
