<nav class="navbar fixed-bottom">
  <div class="container-fluid">

    <%= link_to root_path do %>
      <i class="fa fa-house"></i>
    <% end %>

    <%= link_to "#" do %>
      <i class="fa fa-utensils"></i>
    <% end %>

    <%= link_to activities_path do %>
      <i class="fa fa-person-running"></i>
    <% end %>

    <%= link_to health_logs_path do %>
      <i class="fa fa-user"></i>
    <% end %>

  </div>
</nav>
