.btn {
  padding: 8px 8px;
  border-radius: 35px;
  font-weight: lighter;
  font-size: 16px;
  margin: 10px auto !important;
  display: block;
}

.btn-blue {
  color: white;
  background-color: #219ebc;
}

.btn-orange {
  color: white;
  background-color: #f18940;
  margin: 10px 0px;
  width: 100%;
}

.btn-white-orange {
  width: 220px;
  background-color: white;
  color: #f18940;
  border: 1px solid #f18940;
  margin: auto;
}

.btn-white-blue {
  width: 220px;
  background-color: white;
  color: #219ebc;
  border: 1px solid #219ebc;
  margin: auto;
}
