.card {
  width: 151px;
  height: 155px;
  border-radius: 15px;
  border: solid #f18940;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-text {
  position: absolute;
  border-radius: 15px;
  background-color: #f18940;
  font-weight: bold;
  color: white;
  padding: 2px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 5px;
  opacity: 1;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card img {
  object-fit: cover;
}

.active-button {
  border: solid #f18940;
  border-radius: 15px;
  background-color: #f18940;
  color: white;
}

.inactive-button {
  border: solid #666687;
  border-radius: 15px;
  color: #666687;
}

.card-title-home {
  font-size: 24px;
  color: aliceblue;
  margin-top: 5px;
  z-index: 1;
}

.card-day-home {
  background-color: #f18940;
  width: 65px;
  display: flex;
  padding: 10px;
  margin-top: 10px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  font-size: 10px;

}

@media (max-width: 450px) {
  .card-day-home {padding: 13px; height: 10px; width: 72px; margin-left: 10px }
}
