.input-blue {
  border-radius: 35px;
  padding: 8px 32px;
  width: 100%;
  font-size: 16px;
  background: rgba(33, 158, 188, 0.50);
  border: 1px solid black;
  text-align: center;
  margin: auto !important;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 50px;

  i {
    margin-left: -20px;
  }
}

.input-blue-plan {
  border-radius: 35px;
  padding: 8px 8px;
  width: 100%;
  font-size: 16px;
  background: rgba(33, 158, 188, 0.50);
  border: 1px solid black;
  text-align: center;
  margin-top: 1rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.input-orange {
  border-radius: 35px;
  padding: 8px 32px;
  width: 200px;
  font-size: 16px;
  background: rgba(241, 137, 64, 1);
  border: 1px solid black;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}

#weight-blue {
  background: transparent;
  border: 0;
  margin-top: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}

.input-right-blue {
  border-radius: 0 35px 35px 0;
  padding: 8px 10px;
  width: 150px;
  font-size: 16px;
  background: rgba(33, 158, 188, 0.50);
  border: 1px solid black;
  text-align: center;
  margin: auto !important;
}

.input-left-blue {
  border-radius: 35px 0 0 35px;
  padding: 8px 10px;
  width: 150px;
  font-size: 16px;
  background: rgba(33, 158, 188, 0.50);
  border: 1px solid black;
  text-align: center;
  margin: auto !important;
}

.input-text {
  border-radius: 15px;
  padding: 8px 32px;
  width: 100%;
  font-size: 16px;
  background: rgba(33, 158, 188, 0.20);
  border: 1px solid black;
  text-align: center;
  margin: auto !important;
}

.date-search {
  margin: auto !important;
  align-items: center;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}
