.header-coach {
  justify-content: space-between;
  background: #219ebc;
  color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  flex-grow: 0;
  width: 100%;
  height: 110px;
  padding: 5px 5px;
}

.header-header {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}

.header-footer {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin-top: 10px;
}

.container-logo {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .round-header {
    border-radius: 50%;
    background-color: #f18940;
    height: 50px;
    width: 50px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: 2px;
    margin-bottom: 2px;

    .text-round-header {
      color: white;
      text-align: center;
      justify-content: center;
      font-family: "Playwrite HU", cursive;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 12px;
    }
  }
}
