.container-home {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .round-home {
    border-radius: 50%;
    background-color: #f18940;
    height: 200px;
    width: 200px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: 100px;
    margin-bottom: 20px;

    .text-round-home {
      color: white;
      text-align: center;
      justify-content: center;
      font-family: "Playwrite HU", cursive;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 48px;
    }
  }

  p {
    text-align: center;
    color: #219EBC;
  }
}

.summary {
  display: flex;
  justify-content: center;
  margin-top: 7px;
}


.summary-activity {
  width: 165px;
  height: 145px;
  background: #FFF;
  border-radius: 4px;
  border-radius: 15px;
  border: 1px solid #219EBC;
  padding: 10px;
  margin-right: 50px;
}


.summary-stat {
  display: flex;
  align-items: center; /* Aligne les éléments verticalement */
  justify-content: flex-start;
}
.title-card-home {
  font-size: 16px;
}


.icon-summary-stat {
  border-radius: 55px;
  background: #229EBC;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center; /* Centre l'icône verticalement */
  justify-content: center; /* Centre l'icône horizontalement */
  margin-right: 10px ;
}



.summary-health {
  width: 165px;
  height: 145px;
  flex-shrink: 0;
  background: #FFF;
  border-radius: 4px;
  border-radius: 15px;
  border: 1px solid #f18940;
  padding: 10px;
}

.icon-summary-health {
  border-radius: 55px;
  background: #f18940;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center; /* Centre l'icône verticalement */
  justify-content: center; /* Centre l'icône horizontalement */
  margin-right: 10px;
}

.div-center {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.actualition-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;

  i {border-radius: 55px;
    opacity: var(--sds-size-stroke-border);
    background: #F18940;
    }
    .icon-link-to {
      width: 35px;
      height: 37px;
    }
}


.btn-secondary {
  background-color: #f18940 !important;
  justify-content: center;
  display: inline-block;
}


.icon-link-to {
  border-radius: 55px;
  background: #229EBC;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center; /* Centre l'icône verticalement */
  justify-content: center; /* Centre l'icône horizontalement */
  margin-right: 10px;
  display: flex;
}

.card-home {
  position: relative;
  background-size: cover;
  background-position: center;
}


.card-image {
  height: 180px;
  width: 365px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 20px;
}


.activity-home {
  width: 355px;
  height: 180px;
  flex-shrink: 0;
}

.card-filter {
  position: absolute;
  top: 0;
  left: 0;
  height: 180px;
  width: 365px;
  background: rgba(0, 0, 0, 0.65); /* Semi-transparent black filter */
  z-index: 1; /* Position the filter below the text */
  border-radius: 20px;
}

.card-body {
  position: relative;
  z-index: 2; /* Position the text above the filter */
  color: #ffff; /* Ensure the text color contrasts with the filter */
}

.card-subject {
  margin-top: 41px;
  margin-left: 10px;
}

.card-programm-home {
   font-size: 16px ;
   margin-top: 5px;
   margin-left: 5px;
}

.card-filter-first-card {
  position: absolute;
  height: 180px;
  width: 365px;
  background: rgba(0, 0, 0, 0.65);
  z-index: 1;
  border-radius: 20px;
}

.button-card {
  background-color: #229EBC;
  height: 30px;
  width: 17%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  margin-left: 257px;
  margin-top: 50px;
}

.button-card-a {
  font-size: 16px;
  border-radius: 15px;
  text-decoration: transparent;
  color: #FFF;
}


@media (max-width: 450px) {
  .summary {display: flex; flex-direction:row; justify-content: space-between; h3{font-size: 11px;}}
  .summary-activity {max-width: 48%; margin-right: 20px;}
  .summary-health {max-width: 48%;}
  .card-home {margin: 5px; width: 280px;}
  .card-image {width: 100%; margin: 5px; height: 100%;}
  .card-filter {width: 280px; height: 100% ; margin: 5px;}
  .div-center {padding: 3px;}
  .card-filter-first-card {width: 280px; height: 165px}
  .button-card {    background-color: #229EBC; height: 24px; width: 22%; border-radius: 10px; display: flex; justify-content: center; flex-direction: row; flex-wrap: wrap; align-content: stretch; margin-left: 223px; margin-top: 52px;}
  .card-filter-first-card {width: 280px; height: 165px; margin-right: 0px; height: 146px; margin-top: 9px; margin-right: -9px;
}
}
