.container-home {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .round-home {
    border-radius: 50%;
    background-color: #f18940;
    height: 200px;
    width: 200px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: 100px;
    margin-bottom: 20px;

    .text-round-home {
      color: white;
      text-align: center;
      justify-content: center;
      font-family: "Playwrite HU", cursive;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 48px;
    }
  }

  p {
    text-align: center;
    color: #219EBC;
  }
}

a {
  text-decoration: none;
  color: #f18940;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  text-align: center;
}

.summary-activity {
  max-width: 48%;
  height: 150px;
  background: white;
  border-radius: 15px;
  border: 1px solid #219EBC;
  padding: 5px;
  margin-right: 20px;

  p {
    font-size: 12px;
    margin-bottom: 3px;
  }
}

.summary-stat {
  display: flex;
  align-items: center; /* Aligne les éléments verticalement */
  justify-content: flex-start;

  p {
    font-size: 12px;
    margin-bottom: 3px;
  }
}

.title-card-home {
  font-size: 16px;
  margin-top: 10px;
}


.icon-summary-stat {
  border-radius: 55px;
  background: #229EBC;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center; /* Centre l'icône verticalement */
  justify-content: center; /* Centre l'icône horizontalement */
  margin-right: 10px ;
}


.summary-health {
  height: 150px;
  max-width: 48%;
  flex-shrink: 0;
  background: #FFF;
  border-radius: 4px;
  border-radius: 15px;
  border: 1px solid #f18940;
  padding: 5px;

  p {
    font-size: 12px;
    margin-bottom: 3px;
  }
}

.icon-summary-health {
  border-radius: 55px;
  background: #f18940;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center; /* Centre l'icône verticalement */
  justify-content: center; /* Centre l'icône horizontalement */
  margin-right: 10px;
}

.actualition-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;

  i {border-radius: 55px;
    opacity: var(--sds-size-stroke-border);
    background: #F18940;
    color: white;
    width: 35px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 2px;
    }
}

.card-image {
  width: 100%;
  margin: auto auto;
  height: 180px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.bottom-activity {
  height: 150px;
  max-width: 48%;
  background: $blue;
  border-radius: 15px;
  padding: 5px;
  margin-right: 20px;
  display: flex;
  align-items: center;


  p {
    font-size: 12px;
    margin-bottom: 3px;
    color: white;
  }
}

.bottom-health {
  height: 150px;
  max-width: 48%;
  flex-shrink: 0;
  background: $orange;
  border-radius: 4px;
  border-radius: 15px;
  padding: 5px;
  display: flex;
  align-items: center;

  p {
    font-size: 12px;
    margin-bottom: 3px;
    color: white;
  }
}
