.navbar {
  background-color: white;
  height: 50px;
  color: #219ebc;
  font-size: 22px;
  border: 1px solid #219ebc;
  border-radius: 35px;
  margin: 10px;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: #219ebc;
  }

  a:active {
    color: #f18940;
  }

  .bigplus {
    color: #f18940;
    font-size: 30px;
  }
}

.i-orange {
  color: #f18940;
  text-decoration: none;
}
