.main_title {


  h1 {
    font-size: 50px;
  }

}

h2 {
  font-size: 22px;
  color: #219ebc;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  color: #f18940;
}

h5 {
  font-size: 16px;
  color: #219ebc;
  font-weight: bold;
}
